body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.header {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f2937;
    padding: 25px 200px 50px 200px;
}

.header-top{
    display: flex;
    justify-content: space-between;
}


.content {
    display: flex;
    padding: 100px 0;
    gap: 25px;
}

.left {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 390px;
    gap: 10px;
}

.right {
    display:flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 390px;
    background-color: hsla(0, 0%, 50%, 0.405);
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    font-weight: 700px;
}

.main {
    font-size: 48px;
    font-weight: 900px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 130px;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    border-color: #3882f6;
}
